<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UserHeaderLogin</title>
  <link rel="stylesheet" th:href="@{/css/reset2.css}">
  <link rel="stylesheet" th:href="@{/css/main/fragment/header/userHeaderLogin.css}">
  <script defer th:src="@{/js/main/fragment/header/userHeaderLogin.js}"></script>
</head>
<body>
<div id="container">
  <div class="header">
    <img th:src="@{/img/main/fragment/header/logo.png}" onclick="location.href='/main'">
    <ul class="header-search">
      <li>
        <a th:href="@{/main/aboutService}">서비스소개</a>
      </li>
      <li>
        <a th:href="@{/shop/list}">쇼핑</a>
      </li>
      <li>
        <!-- <div class="community-dropdown-box"> -->
        <a href="#">커뮤니티</a>
        <!-- <img src="../../../../static/img/main/fragment/header/communityDropdownIcon.png" class="dropdown-icon" alt="드롭다운 아이콘"> -->
        <div class="dropdown-content">
          <a th:href="@{/ecoproject/projectList}">에코프로젝트</a>
          <a th:href="@{/socialing/list}">소셜링</a>
          <a th:href="@{/recipe/list}">레시피</a>
          <a th:href="@{/sharing/list}">나눔게시판</a>
          <a th:href="@{/free/list}">자유게시판</a>
        </div>
        <!-- </div> -->
      </li>
      <li>
        <a th:href="@{/main/noticeList}">공지사항</a>
      </li>
    </ul>
    <!-- 검색창 -->
    <div class="search">
      <input type="text">
      <img th:src="@{/img/main/fragment/header/search.jpg}" id="search-icon">
    </div>

    <!-- 로그인 유저 서비스 버튼 -->
    <div class="header-btn"  th:unless="${session.fgUserCode == null}">
      <div class="btn-img"><img th:src="@{/img/main/fragment/header/user.png}" onclick="location.href=`/normal/purchase/list`" alt="마이페이지 이동"></div>
      <div class="btn-img"><img th:src="@{/img/main/fragment/header/chat.png}" onclick="location.href=``" alt="채팅페이지 이동"></div>
      <div class="btn-img"><img th:src="@{/img/main/fragment/header/cart.png}" onclick="location.href=`/shop/cart`" alt="장바구니 이동"></div>
      <div class="btn-img">
        <img th:src="@{/img/main/fragment/header/notification.png}">
        <div class="notification-dropdown">
          <div class="notification-dropdown-box" onclick="location.href='#'">
            <div class="userMypagePurchaseImg">
              <img th:src="@{/img/main/fragment/header/userMypagePurchaseImg.png}" alt="구매상세이미지">
            </div>
            <div class="userMypagePurchaseText">
              <span class="purchase-name">[Dole] 스위티오 바나나 1kg</span>
              <img th:src="@{/img/main/fragment/header/purchaseNextIcon.png}" alt="바로가기 아이콘">
              <div class="purchase-already">상품이 준비되었어요!</div>
            </div>
          </div>
          <div class="notification-dropdown-box" onclick="location.href='#'">
            <div class="userMypagePurchaseImg">
              <img th:src="@{/img/main/fragment/header/userMypagePurchaseImg2.png}" alt="구매상세이미지">
            </div>
            <div class="userMypagePurchaseText">
              <span class="purchase-name">방울토마토 500g</span>
              <img th:src="@{/img/main/fragment/header/purchaseNextIcon.png}" alt="바로가기 아이콘">
              <div class="purchase-already">상품이 준비되었어요!</div>
            </div>
          </div>
          <div class="notification-dropdown-box" onclick="location.href='#'">
            <div class="userMypagePurchaseImg">
              <img th:src="@{/img/main/fragment/header/userMypagePurchaseImg3.png}" alt="구매상세이미지">
            </div>
            <div class="userMypagePurchaseText">
              <span class="purchase-name">고당도 상주샤인머스캣1.5kg</span>
              <img th:src="@{/img/main/fragment/header/purchaseNextIcon.png}" alt="바로가기 아이콘">
              <div class="purchase-already">상품이 준비되었어요!</div>
            </div>
          </div>
        </div>
      </div>
      <button class="logout" id="logout" type="button" onclick="location.href=`/normal/logout`">로그아웃</button>
    </div>
    <!-- 비회원 서비스 아이콘 -->
    <div class="non-user-header-btn" th:if="${session.fgUserCode == null}">
      <button class="login" type="button" onclick="location.href=`/normal/regular/userLogin`">로그인</button>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>
</html>