<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MainPage</title>
  <link rel="stylesheet" th:href="@{/css/main/main/mainPage.css}">
  <link rel="stylesheet" th:href="@{/css/reset2.css}">
  <script defer th:src="@{/js/main/main/mainPage.js}"></script>
</head>
<body>
<header id="header" th:replace="~{/main/fragment/header/userHeaderLogin.html}"></header>
<main>
  <div class="main-container">
    <div class="main-slider-container">
      <div class="main-slider">
        <img th:src="@{/img/main/main/mainPage.png}" alt="메인 화면">
        <img th:src="@{/img/main/main/mainPage2.png}" alt="메인 화면 2">
      </div>
      <!-- 왼쪽 버튼   -->
      <button class="slide-btn left" onclick="prevSlide()">&#10094;</button>
      <!--  오른쪽 버튼  -->
      <button class="slide-btn right" onclick="nextSlide()">&#10095;</button>

      <!-- 텍스트 버튼 -->
      <button class="main-btn" id="mainBtn" type="button" onclick="handleButtonClick()">우리 동네 상품 보러가기 →</button>
    </div>
  </div>
  <div class="main-seller">
    <div class="seller-title">
      <img th:src="@{/img/main/main/main-seller.jpg}" alt="엄지척">
      <span>우리동네 착한 점주 추천해요!</span>
    </div>
    <div class="seller-card" >
      <div class="seller-shop" th:each="shop : ${mainBusinessList}">
        <div class="shop-img">
<!--          <a href="#"><img th:src="@{/img/main/main/seller-img.jpg}" alt="한살림"></a>-->
          <img th:src="'/upload_moamz/' + ${shop.fgUserFileRoot} + '/' + ${shop.fgUserFileUuid} + '_' + ${shop.fgUserFileName}" alt="업체 사진"/>
        </div>
        <h3 th:text="${shop.fgBusinessName}">한살림 서초매장</h3>
        <p th:text="'운영시간 | ' + ${shop.fgBusinessOpenTime} + ' ~ ' + ${shop.fgBusinessCloseTime}">운영시간 | 10:00 ~ 20:00</p>
        <p th:text="'주소 | ' + ${shop.fgBusinessAddress}">주소 | 서울 서초구 사임당로14길 15 서광빌딩 1층</p>
      </div>
    </div>
  </div>

  <div class="main-eco">
    <div class="eco-title">
      <img th:src="@{/img/main/main/main-eco.png}" alt="힘자랑">
      <span><a th:href="@{/ecoproject/projectList}">HOT 지구를 위한 에코 프로젝트</a></span>
    </div>
    <div class="eco-project" >
      <div class="eco-card" th:each="eco : ${mainEcoList}" onclick="location.href=`/ecoproject/ecoCertList/{fgPostId}`">
        <div class="eco-img">
<!--          <img th:src="@{/img/main/main/eco-img.png}" alt="에코 프로젝트">-->
          <img th:src="'/upload_moamz/' + ${eco.fgPostFileRoot} + '/' + ${eco.fgPostFileUuid} + '_' + ${eco.fgPostFileName}" alt="에코 프로젝트 사진"/>
        </div>
        <div class="eco-info">
          <h4 th:text="${eco.fgPostTitle}" >건강도! 환경도! 모두 챙기는 <br>
            매일매일 달리기, 걷기~</h4>
          <p><img th:src="@{/img/main/main/dateIcon.png}" alt="프로젝트 날짜">
            <span th:text="${eco.fgEcoStart} + ' ~ ' + ${eco.fgEcoEnd}">10/10일(목) ~ 10/17일(목)   1주일간</span><br>
            <img th:src="@{/img/main/main/heartIcon.png}" alt="프로젝트 좋아요">
            <span th:text="${eco.fgPostLikes}">22</span></p>
          <br>
          <p><strong>인증 사항</strong></p>
          <p>1. 플로깅 활동을 하며 주운 쓰레기 사진</p>
          <p>2. 소감/후기</p>
          <div class="eco-box">
            <span>한번만 참여 가능</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="main-recipe">
    <div class="recipe-title">
      <img th:src="@{/img/main/main/main-recipe.png}" alt="요리사">
      <span><a th:href="@{/recipe/list}">나도 자취왕! 인기 레시피</a></span>
    </div>
    <div class="recipe-wrap" >
      <div class="recipe-card">
        <div class="recipe-img">
          <img th:src="@{/img/main/main/recipe-img.png}" alt="레시피 카드뷰">

          <!--          <img th:src="'/upload_moamz/' + ${recipe.fgPostFileRoot} + '/' + ${recipe.fgPostFileUuid} + '_' + ${recipe.fgPostFileName}" alt="레시피 사진"/>-->
        </div>
      </div>
      <div class="recipe-menu">
        <div class="recipe-menu-list" th:each="recipe : ${mainRecipeList}">
          <div class="recipe-menu-name">
            <span th:text="${recipe.fgPostTitle}">원팬 오므라이스</span>
          </div>
          <div class="recipe-menu-icon">
            <img th:src="@{/img/main/main/menuClockIcon.png}" alt="메뉴 알람 아이콘">
            <span th:text="${recipe.fgRecipeTime}">15분</span>
            <img th:src="@{/img/main/main/menuHeartIcon.png}" alt="메뉴 좋아요 아이콘">
            <span th:text="${recipe.fgPostLikes}">34</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-socialing">
    <div class="socialing-title">
      <img th:src="@{/img/main/main/main-socialing.png}" alt="전구">
      <span><a href=#>최근 개설된 소셜링, 참여해봐요!</a></span>
    </div>
    <div class="socialing-wrap">
      <div class="socialing-card">
        <div class="socialing-card-img">
          <img th:src="@{/img/main/main/socialingCardImg.png}" alt="소셜링 카드 이미지">
        </div>
        <div class="socialing-info">
          <h5>함께 떠들어요^^</h5>
          <p><img th:src="@{/img/main/main/dateIcon.png}" alt="소셜링 날짜">
            2024/11/25 - 2024/12/10<br>
            <img th:src="@{/img/main/main/peopleIcon.png}" alt="소셜링 인원수">
            2/8</p>
          <div class="socialing-box">
            <div class="socialing-box-age">
              <span>20-30대</span>
            </div>
            <div class="socialing-box-age">
              <span>성별무관</span>
            </div>
          </div>
        </div>
      </div>
      <div class="socialing-card">
        <div class="socialing-card-img">
          <img th:src="@{/img/main/main/socialingCardImg2.png}" alt="소셜링 카드 이미지">
        </div>
        <div class="socialing-info">
          <h5>다함께 요가!</h5>
          <p><img th:src="@{/img/main/main/dateIcon.png}" alt="소셜링 날짜">
            2024/11/27 - 2024/12/25<br>
            <img th:src="@{/img/main/main/peopleIcon.png}" alt="소셜링 인원수">
            2/8</p>
          <div class="socialing-box">
            <div class="socialing-box-age">
              <span>20-30대</span>
            </div>
            <div class="socialing-box-age">
              <span>여자만</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--  <div class="main-socialing">-->
<!--    <div class="socialing-title">-->
<!--      <img th:src="@{/img/main/main/main-socialing.png}" alt="전구">-->
<!--      <span><a th:href="@{/community/socialing/socialingList.html}">최근 개설된 소셜링, 참여해봐요!</a></span>-->
<!--    </div>-->
<!--    <div class="socialing-wrap" >-->
<!--      <div class="socialing-card" th:each="socialing : ${mainSocialingList}">-->
<!--        <div class="socialing-card-img">-->
<!--&lt;!&ndash;          <img th:src="@{/img/main/main/socialingCardImg.png}" alt="소셜링 카드 이미지">&ndash;&gt;-->
<!--          <img th:src="'/upload_moamz/' + ${socialing.fgPostFileRoot} + '/' + ${socialing.fgPostFileUuid} + '_' + ${socialing.fgPostFileName}" alt="소셜링 사진"/>-->
<!--        </div>-->
<!--        <div class="socialing-info">-->
<!--          <h5 th:text="${socialing.fgPostTitle}">함께 떠들어요^^</h5>-->
<!--          <p><img th:src="@{/img/main/main/dateIcon.png}" alt="소셜링 날짜">-->
<!--            <span th:text="${socialing.fgSocialingStart} + ' ~ ' + ${socialing.fgSocialingEnd}">2024/10/8 - 2024/11/10</span><br>-->
<!--            <img th:src="@{/img/main/main/peopleIcon.png}" alt="소셜링 인원수">-->
<!--            <span th:text="${socialing.fgSocialingMaxParticipants}">2/8</span></p>-->
<!--          <div class="socialing-box">-->
<!--            <div class="socialing-box-age">-->
<!--              <span th:text="${socialing.fgSocialingMinAge} + '-' + ${socialing.fgSocialingMaxAge}">20-30대</span>-->
<!--            </div>-->
<!--            <div class="socialing-box-age">-->
<!--              <span th:text="${socialing.fgSocialingGenderRes}">성별무관</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</main>
<footer id="footer" th:replace="~{/main/fragment/footer/userFooter.html}"></footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>
</html>
