<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UserMySharing</title>
  <link rel="stylesheet" th:href="@{/css/mypage/regular/userMySharing.css}">
  <link rel="stylesheet" th:href="@{/css/reset2.css}">
  <script defer th:src="@{/js/mypage/regular/userMySharing.js}"></script>
</head>
<body>
<header id="header" th:replace="~{/main/fragment/header/userHeaderLogin.html}"></header>
<main>
  <div class="mypage-list">
    <div class="mypage-user">
      <div class="mypage-user-img">
      </div>
      <div class="user-name" th:text="${normalProfileDTO.fgNormalNickname}">역삼동 불주먹</div>

      <!-- user 프로필 정보 -->
      <div class="mypage-user-info">
        <div class="mypage-user-info-box">
          <img th:src="@{/static/img/mypage/regular/mypageUserPointIcon.png}" alt="포인트 아이콘">
          <span>포인트</span>
          <span class="info-list" th:text="${normalProfileDTO.fgPointTotal}">1,000</span>
        </div>
        <div class="mypage-user-info-box">
          <img th:src="@{/static/img/mypage/regular/mypageUserFoodIcon.png}" alt="구해준 음식물">
          <span>구해준 음식물</span>
          <span class="info-list" th:text="${#numbers.formatDecimal(normalProfileDTO.totalWeightToKg, 1, 2)}">7.333kg</span>
        </div>
        <div class="mypage-user-info-box">
          <img th:src="@{/static/img/mypage/regular/mypageUserCo2Icon.png}" alt="탄소감축량">
          <span>탄소감축량</span>
          <span class="info-list" th:text="${#numbers.formatDecimal(normalProfileDTO.carbonReduction, 1, 2)}">18.25kg</span>
        </div>
        <div class="mypage-user-info-box">
          <img th:src="@{/static/img/mypage/regular/mypageUserTreeIcon.png}" alt="내가 심은 나무">
          <span>내가 심은 나무</span>
          <span class="info-list-tree" th:text="${#numbers.formatDecimal(normalProfileDTO.treeCount, 1, 2)}">1 그루</span>
        </div>
      </div>
    </div>

    <!-- 마이페이지 메뉴 카테고리 -->
    <div class="mypage-side-category">
      <ul>
        <li class="category-list"><a th:href="@{/normal/purchase/list}">● 상품 구매 내역</a></li>
        <li class="category-list"><a th:href="@{/normal/my/socialing}">● MY소셜링</a></li>
        <li class="category-list"><a th:href="@{/normal/my/sharing/completed}" class="clicked">● My나눔</a></li>
        <li class="category-list"><a th:href="@{/normal/my/review}">● MY리뷰</a></li>
        <li class="category-list"><a th:href="@{/normal/my/like}">● MY좋아요</a></li>
        <li class="category-list"><a th:href="@{/normal/my/postEco}">● MY게시글</a></li>
        <li class="category-list"><a th:href="@{/normal/my/infoauth}">● 회원정보변경</a></li>
        <li class="category-list"><a th:href="@{/normal/my/password/change}">● 비밀번호변경</a></li>
        <li class="category-list"><a th:href="@{/normal/inquiry/list}">● 관리자 문의</a></li>
      </ul>
    </div>
  </div>

  <!-- 내 나눔 관리하기 -->
  <div class="sharing-wrap">
    <div class="sharing-box">
      <!-- 나눔 제목 -->
      <div class="sharing-box-title">
        <img th:src="@{/img/mypage/regular/mysharingImg.png}" alt="내 나눔 관리하기">
        <span>내 나눔 관리하기</span>
      </div>
      <!-- 나눔 카테고리 -->
      <div class="sharing-category">
        <div class="category-btn active" id="sharing-possibility-btn">나눔가능</div>
        <div class="category-btn" id="sharing-reservation-btn">예약중</div>
        <div class="category-btn" id="sharing-done-btn">나눔완료</div>
      </div>
      <!-- 나눔가능 목록 -->
      <div class="sharing-possibility-list">
        <div class="sharing-info-list" th:each="sharing : ${sharings}">
          <div class="sharing-info-list-img">
            <img th:src="@{/img/mypage/regular/mysharingListImg.png}" alt="나눔 이미지">
          </div>
          <div class="sharing-info-list-text">
            <p th:text="${sharing.fgTitle}">삼성 55인치 TV 무료 나눔해요</p>
            <p th:text="${sharing.date}">2024.10.05  14:45</p>
            <div id="detail-btn">
              <a th:href="@{/community/sharing/sharingDetail.html(id=${sharing.id})}">자세히 보러가기 &gt;</a>
            </div>
          </div>
          <button class="reservation-state" th:text="'예약중으로 변경'"></button>
        </div>
        <!-- 더 많은 항목들 추가 -->
      </div>
      <!-- 예약중 -->
      <div class="sharing-reservation-list hidden">
        <div class="sharing-info-list" th:each="reservation : ${reservations}">
          <div class="sharing-info-list-img">
            <img th:src="@{/static/img/mypage/regular/mysharingListImg.png}" alt="나눔 이미지">
          </div>
          <div class="sharing-info-list-text">
            <p th:text="${reservation.title}">삼성 55인치 TV 무료 나눔해요</p>
            <p th:text="${reservation.date}">2024.10.05  14:45</p>
            <div id="detail-btn">
              <a th:href="@{/community/sharing/sharingDetail.html(id=${reservation.id})}">자세히 보러가기 &gt;</a>
            </div>
          </div>
          <button class="sharing-done">나눔완료로 변경</button>
        </div>
        <!-- 더 많은 항목들 추가 -->
      </div>
      <!-- 나눔완료 -->
      <div class="sharing-done-list hidden">
        <div class="sharing-info-list" th:each="done : ${doneSharings}">
          <div class="sharing-info-list-img">
            <img th:src="@{/static/img/mypage/regular/mysharingListImg.png}" alt="나눔 이미지">
          </div>
          <div class="sharing-info-list-text">
            <p th:text="${done.title}">삼성 55인치 TV 무료 나눔해요</p>
            <p th:text="${done.date}">2024.10.05  14:45</p>
            <div id="detail-btn">
              <a th:href="@{/community/sharing/sharingDetail.html(id=${done.id})}">자세히 보러가기 &gt;</a>
            </div>
          </div>
        </div>
        <!-- 더 많은 항목들 추가 -->
      </div>
    </div>
  </div>
</main>
<footer id="footer" th:replace="~{/main/fragment/footer/userFooter.html}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</html>
