<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>userWriteReview</title>
  <link rel="stylesheet" th:href="@{/css/reset2.css}">
  <link rel="stylesheet" th:href="@{/static/css/mypage/regular/userWriteReview.css}">
  <script defer th:src="@{/static/js/mypage/regular/userWriteReview.js}"></script>
</head>
<body>
<header id="header" th:replace="~{/main/fragment/header/userHeaderLogin.html}"></header>
  <main>
    <div class="userWriteReview-container">
      <div class="userWriterReview-title">리뷰 작성하기</div>
      <div class="userWriterReview-wrap">
        <div class="userWriterReview-info">
          <span class="info-title">업체명</span>
          <span>업체명</span>
        </div>
        <div class="userWriterReview-info">
          <span class="info-title">상품명</span>
          <span>방울토마토 500g</span>
        </div>
      </div>
    </div>
    <div class="review-write-content">
      <form method="post" action="">
        <div class="review-write-title">
          <span class="review-write-form-title">별점*</span>
          <input type="number" id="star-rating" min="0" step="1" max="5" placeholder="0~5 사이 정수값으로 입력해주세요." required>
        </div>
        <div class="review-write-title">
          <span class="review-write-form-title">리뷰내용*</span>
          <textarea id="review-content" required></textarea>
        </div>
        <div class="review-write-btn">
          <button id="cancle-btn" type="button">취소</button>
          <button id="write-btn" type="submit">등록</button>
        </div>
      </form>
    </div>
  </main>
<footer id="footer" th:replace="~{/main/fragment/footer/userFooter.html}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</html>