<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>userInfoAuth</title>
  <link rel="stylesheet" th:href="@{/css/reset2.css}">
  <link rel="stylesheet" th:href="@{/css/mypage/regular/userInfoAuth.css}">
  <script defer th:src="@{/js/mypage/regular/userInfoAuth.js}"></script>
</head>
<body>
  <header id="header" th:replace="~{/main/fragment/header/userHeaderLogin}"></header>

  <!-- 사이드바 영역 -->
  <section id="side-section">
    <div class="mypage-list">
      <div class="mypage-user">
        <div class="mypage-user-img">
        </div>
        <div class="user-name">역삼동 불주먹</div>

        <!-- user 프로필 정보 -->
        <div class="mypage-user-info">
          <div class="mypage-user-info-box">
            <img th:src="@{/img/mypage/regular/mypageUserPointIcon.png}" alt="포인트 아이콘">
            <span>포인트</span>
            <span class="info-list">1,000</span>
          </div>
          <div class="mypage-user-info-box">
            <img th:src="@{/img/mypage/regular/mypageUserFoodIcon.png}" alt="포인트 아이콘">
            <span>구해준 음식물</span>
            <span class="info-list">7.333kg</span>
          </div>
          <div class="mypage-user-info-box">
            <img th:src="@{/img/mypage/regular/mypageUserCo2Icon.png}" alt="포인트 아이콘">
            <span>탄소감축량</span>
            <span class="info-list">18.25kg</span>
          </div>
          <div class="mypage-user-info-box">
            <img th:src="@{/img/mypage/regular/mypageUserTreeIcon.png}" alt="포인트 아이콘">
            <span>내가 심은 나무</span>
            <span class="info-list-tree">1 그루</span>
          </div>
        </div>
      </div>

      <!-- 마이페이지 메뉴 카테고리 -->
      <div class="mypage-side-category">
        <ul>
          <li class="category-list"><a th:href="@{/normal/purchase/list}">● 상품 구매 내역</a></li>
          <li class="category-list"><a th:href="@{/normal/my/socialing}">● MY소셜링</a></li>
          <li class="category-list"><a th:href="@{/normal/my/sharing/completed}">● My나눔</a></li>
          <li class="category-list"><a th:href="@{/normal/my/review}">● MY리뷰</a></li>
          <li class="category-list"><a th:href="@{/normal/my/like}">● MY좋아요</a></li>
          <li class="category-list"><a th:href="@{/normal/my/postEco}">● MY게시글</a></li>
          <li class="category-list"><a th:href="@{/normal/my/infoauth}" class="clicked">● 회원정보변경</a></li>
          <li class="category-list"><a th:href="@{/normal/my/password/change}">● 비밀번호변경</a></li>
          <li class="category-list"><a th:href="@{/normal/inquiry/list}" >● 관리자 문의</a></li>
        </ul>
      </div>
    </div>
  </section>
  <div id="auth-container">
    <div id="auth-wrap">
    <!--제목 영역-->
      <div id="auth-text">
        <h2>회원 정보 확인</h2>
        <p>회원님의 정보를 안전하게 보호하기 위해 비밀번호를 다시 한번 확인합니다</p>
      </div>
      <!-- 회원정보 입력 영역 -->
      <form id="auth-box" method="post" action="/normal/my/infoAuth" th:attr="data-requestPage=${requestPage}">
        <div id="auth-id">
          <h3>ID</h3><input type="text" id="user-id" th:value="${fgUserId}"  />
        </div>
        <div id="auth-pw">
          <h3>PW</h3><input type="password" id="input-password" name="input-password" required />
        </div>
      </form>
      <div id="auth-box-btn">
        <button id="check" type="button">확인</button>
        <button id="cancel"  type="submit">취소</button>
      </div>
    </div>
  </div>
  <footer id="footer"></footer>
</body>
</html>