<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>userResetPassword</title>
  <link rel="stylesheet" th:href="@{/css/reset2.css}">
  <link rel="stylesheet" th:href="@{/css/mypage/regular/userResetPassword.css}">
  <link rel="stylesheet" th:href="@{/css/main/fragment/header/userHeaderLogin.css}">
  <script defer th:src="@{/js/mypage/regular/userResetPassword.js}"></script>
</head>
<body>
<header id="header" th:replace="~{/main/fragment/header/userHeaderLogin}"></header>
<!-- 사이드바 영역 -->
<section id="side-section">
  <div class="mypage-list">
    <div class="mypage-user">
      <div class="mypage-user-img">
      </div>
      <div class="user-name">역삼동 불주먹</div>

      <!-- user 프로필 정보 -->
      <div class="mypage-user-info">
        <div class="mypage-user-info-box">
          <img th:src="@{/img/mypage/regular/mypageUserPointIcon.png}" alt="포인트 아이콘">
          <span>포인트</span>
          <span class="info-list">1,000</span>
        </div>
        <div class="mypage-user-info-box">
          <img th:src="@{/img/mypage/regular/mypageUserFoodIcon.png}" alt="포인트 아이콘">
          <span>구해준 음식물</span>
          <span class="info-list">7.333kg</span>
        </div>
        <div class="mypage-user-info-box">
          <img th:src="@{/img/mypage/regular/mypageUserCo2Icon.png}" alt="포인트 아이콘">
          <span>탄소감축량</span>
          <span class="info-list">18.25kg</span>
        </div>
        <div class="mypage-user-info-box">
          <img th:src="@{/img/mypage/regular/mypageUserTreeIcon.png}" alt="포인트 아이콘">
          <span>내가 심은 나무</span>
          <span class="info-list-tree">1 그루</span>
        </div>
      </div>
    </div>

    <!-- 마이페이지 메뉴 카테고리 -->
    <div class="mypage-side-category">
      <ul>
        <li class="category-list"><a th:href="@{/normal/purchase/list}">● 상품 구매 내역</a></li>
        <li class="category-list"><a th:href="@{/normal/my/socialing}">● MY소셜링</a></li>
        <li class="category-list"><a th:href="@{/normal/my/sharing/completed}">● My나눔</a></li>
        <li class="category-list"><a th:href="@{/normal/my/review}">● MY리뷰</a></li>
        <li class="category-list"><a th:href="@{/normal/my/like}">● MY좋아요</a></li>
        <li class="category-list"><a th:href="@{/normal/my/postEco}">● MY게시글</a></li>
        <li class="category-list"><a th:href="@{/normal/my/infoauth}">● 회원정보변경</a></li>
        <li class="category-list"><a th:href="@{/normal/my/password/change}" class="clicked">● 비밀번호변경</a></li>
        <li class="category-list"><a th:href="@{/normal/inquiry/list}">● 관리자 문의</a></li>
      </ul>
    </div>
  </div>
</section>

  <div id="container-text">
    <div id="reset-text">
      <h2>비밀번호 변경</h2>
    </div>
    <form id="reset-wrap" method="post" action="/normal/my/resetPw">
      <div class="reset-strong"><strong>비밀번호 변경하기</strong></div>
      <div class="reset-password">
        <input type="password" id="inputPw" placeholder="새 비밀번호를 입력해주세요(영문, 숫자, 특수문자포함 8~20)">
        <p id="password-message"></p>
      </div>
      <div class="reset-password">
        <input type="password" id="password-check" placeholder="다시 한번 입력해주세요">
        <p id="confirm-message"></p>
      </div>
      <div id="reset-box-btn">
        <button id="exit">나가기</button>
        <button id="reset" disabled>비밀번호 변경</button>
      </div>
    </form>

  </div>
</body>
</html>