<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset2.css}">
    <link rel="stylesheet" th:ref="@{/css/mypage/regular/userInfoModify.css}">
    <script defer th:src="@{/js/mypage/regular/userInfoModify.js}"></script>
    <title>마이페이지</title>
</head>
<body>
<header id="header" th:replace="~{/main/fragment/header/userHeaderLogin.html}"></header>
    <main>

        <!-- 사이드바 영역 -->
        <section id="side-section">
            <div class="mypage-list">
                <div class="mypage-user">
                    <div class="mypage-user-img">
                    </div>
                    <div class="user-name">역삼동 불주먹</div>

                    <!-- user 프로필 정보 -->
                    <div class="mypage-user-info">
                        <div class="mypage-user-info-box">
                            <img th:src="@{/img/mypage/regular/mypageUserPointIcon.png}" alt="포인트 아이콘">
                            <span>포인트</span>
                            <span class="info-list">1,000</span>
                        </div>
                        <div class="mypage-user-info-box">
                            <img th:src="@{/img/mypage/regular/mypageUserFoodIcon.png}" alt="포인트 아이콘">
                            <span>구해준 음식물</span>
                            <span class="info-list">7.333kg</span>
                        </div>
                        <div class="mypage-user-info-box">
                            <img th:src="@{/img/mypage/regular/mypageUserCo2Icon.png}" alt="포인트 아이콘">
                            <span>탄소감축량</span>
                            <span class="info-list">18.25kg</span>
                        </div>
                        <div class="mypage-user-info-box">
                            <img th:src="@{/img/mypage/regular/mypageUserTreeIcon.png}" alt="포인트 아이콘">
                            <span>내가 심은 나무</span>
                            <span class="info-list-tree">1 그루</span>
                        </div>
                    </div>
                </div>

                <!-- 마이페이지 메뉴 카테고리 -->
                <div class="mypage-side-category">
                    <ul>
                        <li class="category-list"><a th:href="@{/normal/purchase/list}">● 상품 구매 내역</a></li>
                        <li class="category-list"><a th:href="@{/normal/my/socialing}">● MY소셜링</a></li>
                        <li class="category-list"><a th:href="@{/normal/my/sharing/completed}">● My나눔</a></li>
                        <li class="category-list"><a th:href="@{/normal/my/review}">● MY리뷰</a></li>
                        <li class="category-list"><a th:href="@{/normal/my/like}">● MY좋아요</a></li>
                        <li class="category-list"><a th:href="@{/normal/my/postEco}">● MY게시글</a></li>
                        <li class="category-list"><a th:href="@{/normal/my/infoauth}" class="clicked">● 회원정보변경</a></li>
                        <li class="category-list"><a th:href="@{/normal/my/password/change}">● 비밀번호변경</a></li>
                        <li class="category-list"><a th:href="@{/normal/inquiry/list}">● 관리자 문의</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="product-write-container">
            <!-- 제목 영역 -->
            <div class="title-wrap">
                <div class="write-title">회원 정보 변경</div>
            </div>
            <!-- 정보 변경 영역 -->
            <div class="write-content-container">
                <form method="post" action="">
                    <!-- 썸네일 영역 -->
                    <div class="thumbnail-container">
                        <div class="modify-label">프로필 사진</div>
                        <div class="thumbnail-wrap">
                            <!--lable을 누르면 input type=file이 실행-->
                            <label for="attach">
                                <div class="thumbnail-img"></div>
                            </label>
                            <div class="thumbnail-cancle-btn"></div>
                        </div>
                        <input type="file" id="attach" style="display: none;"> 
                    </div>

                    <!-- 변경 안되는 영역 -->
                    <div class="cannot-modify-container">
                        <div class="modify-item">
                            <label class="modify-label" for="user-id">아이디</label>
                            <input id="user-id" type="text" value="user123@naver.com" disabled>
                        </div>
                        <div class="modify-item">
                            <label class="modify-label" for="user-nickname">닉네임</label>
                            <input id="user-nickname" type="text" value="역삼동불주먹" disabled>
                        </div>
                        <div class="modify-item">
                            <label class="modify-label" for="user-name">이름</label>
                            <input id="user-name" type="text" value="황진" disabled>
                        </div>
                        <div class="modify-item">
                            <label class="modify-label" for="user-phone-num">휴대폰 번호</label>
                            <input id="user-phone-num" type="text" value="01012341234" disabled>
                        </div>
                    </div>

                    <!-- 생년월일, 성별 영역 -->
                    <div class="birth-gender-container">
                        <div class="modify-item">
                            <label class="modify-label" for="user-birth">생년월일</label>
                            <input id="user-birth" type="date" value="1997-05-27">
                        </div>
                        <div class="radio-item">
                            <label class="modify-label">성별</label>
                            <input type="radio" name="user-gender" value="m">남성
                            <input type="radio" name="user-gender" value="f">여성
                        </div>
                    </div>

                    <!-- 주소 영역-->
                    <div class="address-modify-container">
                        <label class="modify-item modify-label">주소</label>
                        <div class="modify-item">
                            <input id="address-num" type="text" value="12345" disabled>
                            <input type="button" id="address-search-btn" value="검색">
                        </div>
                        <input id="address-detail-1" class="modify-item" type="text" value="서울특별시 강남구 테헤란로 146" disabled>
                        <input id="address-detail-2" class="modify-item" type="text" value="현익빌딩 3층, 4층">
                    </div>

                    <!-- 휴대폰번호 변경하기 영역 -->
                    <div class="phone-modify-container">
                        <label class="modify-item modify-label" for="input-phone-num">휴대폰번호 변경하기</label>
                        <div class="modify-item">
                            <input id="input-phone-num" type="number" placeholder="휴대폰번호 입력">
                            <input type="button" id="msg-submit-btn" value="전송">
                        </div>
                        <div class="modify-item">
                            <input id="certification-num" type="number" placeholder="인증번호 입력">
                            <input type="button" id="certicifation-num-check-btn" value="확인">
                        </div>
                        <p id="success-message">d</p>
                        <input type="button" id="phone-modify-btn" value="휴대폰번호 변경" disabled/>
                    </div>
                </form>
                <!-- 버튼 -->
                <div class="btn-container">
                    <button type="button" id="cancle-btn" >나가기</button>
                    <button type="button" id="user-info-modify-btn" >변경하기</button>
                </div>
                <!-- 회원탈퇴 -->
                <div class="withdraw-container">
                    <span>회원 탈퇴를 원하시나요?</span>
                    <button type="button" id="withdraw-btn" onclick="location.href='userWithdraw.html'">탈퇴</button>
                </div>
            </div>
            
        </div>
    </main>
    <footer id="footer" th:replace="~{/main/fragment/footer/userFooter.html}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</html>