<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset2.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/regular/userAdminInquiryDetail.css}">
    <script defer th:src="@{/js/mypage/regular/userAdminInquiryDetail.js}"></script>
    <title>관리자문의</title>
</head>
<body>
    <header id="header" th:replace="~{/main/fragment/header/userHeaderLogin.html}"></header>
    <main>
        <!-- 사이드바 영역 -->
        <section id="side-section">
            <div class="mypage-list">
                <div class="mypage-user">
                    <div class="mypage-user-img">
                    </div>
                    <div class="user-name">역삼동 불주먹</div>

                    <!-- user 프로필 정보 -->
                    <div class="mypage-user-info">
                        <div class="mypage-user-info-box">
                            <img th:src="@{/img/mypage/regular/mypageUserPointIcon.png}" alt="포인트 아이콘">
                            <span>포인트</span>
                            <span class="info-list">1,000</span>
                        </div>
                        <div class="mypage-user-info-box">
                            <img th:src="@{/img/mypage/regular/mypageUserFoodIcon.png}" alt="포인트 아이콘">
                            <span>구해준 음식물</span>
                            <span class="info-list">7.333kg</span>
                        </div>
                        <div class="mypage-user-info-box">
                            <img th:src="@{/img/mypage/regular/mypageUserCo2Icon.png}" alt="포인트 아이콘">
                            <span>탄소감축량</span>
                            <span class="info-list">18.25kg</span>
                        </div>
                        <div class="mypage-user-info-box">
                            <img th:src="@{/img/mypage/regular/mypageUserTreeIcon.png}" alt="포인트 아이콘">
                            <span>내가 심은 나무</span>
                            <span class="info-list-tree">1 그루</span>
                        </div>
                    </div>
                </div>

                <!-- 마이페이지 메뉴 카테고리 -->
                <div class="mypage-side-category">
                    <ul>
                        <li class="category-list"><a th:href="@{/normal/purchase/list}">● 상품 구매 내역</a></li>
                        <li class="category-list"><a th:href="@{/normal/my/socialing}">● MY소셜링</a></li>
                        <li class="category-list"><a th:href="@{/normal/my/sharing/completed}">● My나눔</a></li>
                        <li class="category-list"><a th:href="@{/normal/my/review}">● MY리뷰</a></li>
                        <li class="category-list"><a th:href="@{/normal/my/like}">● MY좋아요</a></li>
                        <li class="category-list"><a th:href="@{/normal/my/postEco}">● MY게시글</a></li>
                        <li class="category-list"><a th:href="@{/normal/my/infoauth}">● 회원정보변경</a></li>
                        <li class="category-list"><a th:href="@{/normal/my/password/change}">● 비밀번호변경</a></li>
                        <li class="category-list"><a th:href="@{/normal/inquiry/list}" class="clicked">● 관리자 문의</a></li>
                    </ul>
                </div>
            </div>
        </section>


        <!-- 게시글 영역 -->
        <div class="post-container">
            <!-- 게시글 정보 -->
            <div class="post-info-wrap" th:attr="data-id=${normalInquiryDetailDTO.fgPostId}">
                <div class="post-title" th:text="${normalInquiryDetailDTO.fgPostTitle}">가게 사장님이 연락두절 되었는데 어떻게하죠ㅠㅠ</div>
                <div class="user-info-wrap">
                    <span class="user-nickname" th:text="${normalInquiryDetailDTO.fgNormalNickname}">역삼동불주먹</span>
                    <div class="post-write-time-wrap">
                        <span>작성일</span>
                        <span id="post-write-time" th:text="${normalInquiryDetailDTO.fgPostCreatedAt}">24/10/13 14:10</span>
                        <button type="button" id="delete-btn">삭제</button>
                    </div>
                </div>
            </div>
            <!-- 게사글 내용 -->
            <div class="post-content-wrap">
                <p th:text="${normalInquiryDetailDTO.fgInquiryContent}">채팅도 안보고 문도 닫혀있고 정말 화나네요!!</p>
            </div>
        </div>
        <!-- 댓글 영역 -->
        <div class="comment-container">
            <div class="comment-title">💬댓글</div>
            <div class="comment-wrap">
                <div class="comment-content-wrap">
                    <ul>
                        <li class="comment-list" th:each="comment: ${normalCommentList}">
                            <!-- 댓글 정보 -->
                            <div class="comment-info-wrap">
                                <span class="user-nickname">관리자</span>
                                <span class="comment-write-time" th:text="${comment.fgCommentDate}">24/10/13</span>
                                <span class="comment-modified" th:text="${comment.fgCommentEdit}">수정됨</span>
                            </div>
                            <!-- 댓글 내용 -->
                            <p class="comment-content" th:text="${comment.fgCommentContent}">정말 안타깝네요..</p>
                        </li>
                    
                    </ul>
                </div>
            </div>
        </div>
        <!-- 목록으로 이동 버튼 -->
        <button type="button" class="move-list-btn" onclick="location.href='/normal/inquiry/list'">문의사항 목록으로 이동</button>
        

    </main>
    <footer id="footer" th:replace="~{/main/fragment/footer/userFooter.html}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</html>